Json/pipeline/Copy from REST connector into ADLS Gen22.json
{
	"name": "Copy from REST connector into ADLS Gen22",
	"properties": {
		"activities": [
			{
				"name": "CopyData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"additionalHeaders": {
							"Authorization": {
								"value": "@concat('Bearer ',activity('GetBearerToken').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "SqlDWSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource3",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SynapseDedicatedPool2",
						"type": "DatasetReference",
						"parameters": {
							"cw_schema": "current_sf",
							"cw_table": "rjfAPIGet"
						}
					}
				]
			},
			{
				"name": "GetBearerToken",
				"description": "Use this Web activity to get bearer token",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.salesforce.com/services/oauth2/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=client_credentials&client_id=<service principal ID>&resource=<your resource>&client_secret=<service principal key>",
					"disableCertValidation": true,
					"authentication": {
						"type": "Basic",
						"username": "rfrioux@tidesmedical.com",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			}
		],
		"folder": {
			"name": "zzzRusty"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-29T12:45:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}